<header class="page-header">
  <h1>About the Jungle</h1>
</header>

<div>
  <h3>
    Welcome to the Jungle, we got every plant you want, and we know the names.
  </h3>
  <br>
  <p>
    Jungle is a shop run by Saul and Rose, born out of their love for plants.
  </p>
</div>